<ul class="nav" role="menu">
    <li class="nav-home" role="menuitem"><a href="{{site.baseurl}}">Home</a></li>
    <li class="nav-about" role="menuitem"><a href="{{site.baseurl}}about/">About</a></li>
    <li class="nav-technology" role="menuitem"><a href="{{site.baseurl}}tag/technology/">Technology</a></li>
    <li class="whitepaper" role="menuitem"><a href="{{site.baseurl}}whitepapars/">whitepapers</a></li>
    <li class="tools" role="menuitem"><a href="{{site.baseurl}}tools/">tools</a></li>
    <li class="cv" role="menuitem"><a href="{{site.baseurl}}#">cv</a></li>
    <li class="nav-try-ghost" role="menuitem"><a href="https://jdnayak.com">JDNayak.com</a></li>
</ul>
